<div class="container">
  <h3>Add Record</h3>
  <div class="row form">
    <div class="inputComponents">
    <div class="form-group col-12">
      <label for="item1">Jogging date:</label>
      <input class="form-control col-12" type="text" placeholder="mm/dd/yyyy"  name="item" id="item1">
    </div>
    </div>
    <div class="inputComponents">
    <div class="form-group col-12">
      <label for="item2">Distance (m)</label>
      <input class="form-control col-12" type="text" placeholder="0"  name="item" id="item2">
    </div>
    </div>
    <div class="inputComponents">
    <div class="form-group col-12">
      <label for="item3">Time (s)</label>
      <input class="form-control col-12" type="text" placeholder="0"  name="item" id="item3">
    </div>
  </div>
  </div>
    <div class="form-group col-1 btnDiv">
    <button type="button" class="btn btn-primary">Save</button>
    </div>
</div>
